*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body{
    background-color:#4C585B;
}
#tablewhi{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    width:60vw;
    height:85vh;
    position: fixed;
    right: 30vw;   
    top:2vh
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width:10vw;
    font-size:10vh;
}
.Light{
    background-color: #f0d9b5;
}
.Dark{
    background-color: #b58863;
}
#timerwhi{
    position: fixed;
    right:1vw;
    bottom: 50vh;
    background-color: #00FF9C;
    height:7vh;
    width:7vw;
    border:0.5vh solid white;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    border-radius: 2vh;
  
}
#turnwhi{
    position: fixed;
    bottom: 50vh;
    font-size: 4vh;
    background-color: #00FF9C;
    height:7vh;
    width:7vw;
    border:0.5vh solid white;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    border-radius: 2vh;
    margin-left: 1vw;
}
.change{
    background-color: #00FF9C;
    backdrop-filter: glow(5px);
}
#re{
    position: fixed;
    bottom: 10vh;
    font-size: 3vh;
    background-color: #00FF9C;
    height:7vh;
    width:7vw;
    border:0.5vh solid white;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    border-radius: 2vh;
    margin-left: 1vw;
}
#re:active{
    border-color: red;
    color: red;
}
.completed{
    height: 80vh;
    width:80vw;
    background-color: #4C585B;
    font-size: 5vh;
    font-weight: bolder;
    color: white;
    z-index: 7;
    position: fixed;
    top:10vh;
    right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not{
    font-size: 0.1vh;
    color: #4C585B;
}